@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

:root {
	--primary-color: #fff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body, html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
	align-items: center;
	justify-content: flex-start;
	background-image: url('laptop.avif');
	background-color: dimgrey;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.container {
	display: flex;
	flex-direction: column;
	margin-top: 10vh;
	width: 95%;
	max-width: 900px;
	border-radius: 10px;
	align-items: center;
	box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	transition: 0.5s;
	background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}

.container .brand {
	display: flex;
	width: 100%;
	padding: 10px 20px;
	align-items: center;
	justify-content: space-between;
}

.container .brand h3 {
	font-weight: 400;
	font-size: 24px;
	color: var(--primary-color);
}

.container .brand a i {
	color: var(--primary-color);
	font-size: 30px;
}

.full-width-line {
	border: none;
	height: 1px;
	background-color: #fff;
	width: 90%;
	margin: 10px auto;
}

.vertical-logos {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	margin: 20px auto;
}

.company-logo {
	border-radius: 50%;
	width: 80px;
	height: 80px;
	padding: 10px;
	cursor: pointer;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.8);
}

.company-logo:hover {
	transform: scale(1.1);
	box-shadow: 0 0 15px 4px rgba(255, 165, 0, 0.8);
}



.company-logo:hover {
	transform: scale(1.1);
}

.hidden {
	display: none;
}

.experience-details {
	display: none;
	margin-top: 20px;
	padding: 20px;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 10px;
	width: 80%;
	box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.2);
	color: black;
}

@media (min-width: 768px) {
	.container {
		width: 85%;
	}

	.experience-details {
		width: 60%;
	}
}
